.storyContent{
	position:relative;
	top:0px;
	left:0;
	text-align:left;
	width:1180px;
	margin:0 auto;
	}


	
	
	
	

/*内容开始*/
.storyContent .storyUl{
	
	position:relative;
	top:0;
	left:0;
	margin-left:-13px;
	*margin-left:0px;
	}
.storyContent .storyUl a{
	_cursor:pointer;
	}
.storyContent .storyUl ul{
	height:890px;
	}
.storyContent .storyUl li{
	position:relative;
	top:0;
	left:0;
	width:285px;
	height:285px;
	margin-top:10px;
	margin-left:13px;
	#margin-left:10px;
	_margin-left:0px;
	float:left;
	background:#FFFFFF;
	}
.storyContent .storyUl .active .storyLiBj{
	display:block;
	}
.storyContent .storyUl .active .storyLiBjCon{
	display:block;
	}
.storyContent .storyUl .photographyStoryLi{
	position:relative;
	top:0;
	left:0;
	width:285px;
	height:285px;
	}
.storyContent .storyUl .storyLiBj{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:285px;
	height:285px;
	background:#000000;
	opacity:0.8;
	filter:alpha(opacity=80); 
	}
.storyContent .storyUl .storyLiBjCon{
	position:absolute;
	top:0;
	left:0;
	width:285px;
	height:285px;
	display:none;
	}
.storyContent .storyUl .storyLiBjCon .p1{
	height:50px;
	line-height:50px;
	font-size:15px;
	font-family:"微软雅黑";
	color:#e0e0e0;
	padding-left:20px;
	border-bottom: 1px solid #7F7F7F;
	}	
.storyContent .storyUl .storyLiBjCon .p1 .money{
	margin-left:10px;
	}
.storyContent .storyUl .storyLiBjCon .p2{
	height:90px;
	width:90px;
	background:url(../../../images/view.png) 0 0 no-repeat;
	font-size:55px;
	font-family:"微软雅黑";
	color:#ffffff;
	margin-top:50px;
	margin-left:100px;
	}	
.storyContent .storyUl .storyLiBjCon .p2:hover{
	background:url(../../../images/view.png) 0 -93px no-repeat;
	}
.storyContent .storyUl .storyLiBjCon .p3{
	
	padding-left:20px;
	height:25px;
	line-height:25px;
	margin-top:40px;
	font-size:12px;
	font-family:"宋体";
	color:#adadad;
	border-bottom:1px solid #7f7f7f;
	}
.storyContent .storyUl .storyLiBjCon .p3 span{
	margin-left:3px;
	margin-right:3px;
	}
.storyContent .storyUl .storyLiBjCon .p3 font{
	margin-left:30px;
	}
.storyContent .storyUl .storyLiBjCon .p4{
	padding: 0 20px;
	height:25px;
	line-height:25px;
	font-size:12px;
	font-family:"宋体";
	color:#898989;
	}
.storyContent .storyUl .storyLiBjCon .p4 .left{
	float:left;
	}
.storyContent .storyUl .storyLiBjCon .p4 .left span{
	margin-right:10px;
	}
.storyContent .storyUl .storyLiBjCon .p4 .right{
	float:right;
	}
.storyContent .storyUl .storyLiBjCon .p4 .right .gwc{
	padding-left:20px;
	background:url(../../../images/11.png) 0 -191px no-repeat;
	}
.storyContent .storyUl .storyLiHead{
	position:relative;
	top:0;
	left:0;
	width:285px;
	height:175px;
	}
.storyContent .storyUl .storyLiHead img{
	width:285px;
	height:175px;
	}
.storyContent .storyUl .storyLiCon{
	position:relative;
	top:0;
	left:0;
	width:285px;
	height:110px;
	}
.storyContent .storyUl .storyLiConTitle{
	width:285px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	overflow:hidden;
	}
.storyContent .storyUl .storyLiConTitle span{
	font-size:16px;
	font-family:"微软雅黑";
	color:#000000;
	}
.storyContent .storyUl .storyLiConInfo{
	width:275px;
	height:45px;
	margin-top:5px;
	padding-left:10px;
	overflow:hidden;
	color:#aeaeae;
	line-height:23px;
	}
.storyContent .storyUl .viewInfo{
	width:275px;
	height:20px;
	margin-top:6px;
	margin-left:10px;
	}
.storyContent .storyUl .viewInfo a{
	padding-left:20px;
	margin-right:5px;
	color:#9b9b9b;
	_margin-top:5px;
	}
.storyContent .storyUl .viewInfo .viewInfoOne{
	background:url(../../../images/11.png) no-repeat 0 0px;
	}
.storyContent .storyUl .viewInfo .viewInfoTwo{
	background:url(../../../images/11.png) no-repeat 0 -19px;
	}
.storyContent .storyUl .viewInfo .viewInfoThree{
	background:url(../../../images/11.png) no-repeat 0 -38px;
	}
.storyContent .storyUl .viewInfo font{
	position:absolute;
	bottom:7px;
	right:5px;
	}
/*内容结束*/


.ppointPagingthis{
	border:1px solid #e7e7e7;
	background:#fff;
	height:55px;
	margin-bottom:20px;
	}
.ppointPaging{
	background:#fff;
	}