html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin:0;
  padding:0;
	}
body{
  background-color:#FFFFFF;
  color:#848484;
  font-family:微软雅黑 ,Arial, Verdana, 宋体;
  font-size:12px;
  }
a:link, a:visited {
  color:#A5A5A5;
  text-decoration:none;
}

.container{
	
	margin:20px auto;
	width:1210px;
	}
ul{
	
	}	
  /*shortcart start */
#topbar{
	background-color: #000000;
	border-bottom: 1px solid #D6D6D6;
	height:35px;

	}


#topbar-collect{
	
	float: left;
	margin-top:10px;
	
	color: #B4B4B4;
	}
#topcollect{
	width:10px;
	background-image:url(../images/collect.png);
	background-repeat: no-repeat;
	padding-left: 26px;
	}	


#topbar-toolbar{
	float:right;
	margin-top:10px;
	}
#topbar-toolbar img{
	cursor:pointer;
	width:8px;
	heiht:6px;
}
#topshopping{
	background-image:url(../images/shopping.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-left: 25px;
	}
#topshopping span{
	color:red;
	}
#topworks{
	background-image:url(../images/works.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 20px;
	margin-left: 25px;
	}
#toppats{
	background-image:url(../images/pats.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 20px;
	margin-left: 25px;
	}
#topinform{
	background-image:url(../images/inform.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 20px;
	margin-left: 25px;
	}
#topupload{
	background-image:url(../images/upload.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 20px;
	margin-left: 25px;
	}
#toppublish{
	background-image:url(../images/publish.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left: 20px;
	margin-left: 25px;
	}
 /*shortcart end */


<!--header start-->
#mheader{
	
	padding-bottom:20px;
	}
#divlogo{
	margin-top:10px;

	width:220px;
	
	}
#divlogo a{
	color:#959595;
	
	height:57px;
	}
#divlogo img{
	border:0;
	width:217px;
	height:41px;
	}
#divlogo p{
	height:16px;
	width:217px;
	margin-top:3px;
	font-size:13px;
	}

<!--divsearchs -->		
#divsearch{
	
	
	width:800px;
	
	}

#searchp{
	position:absolute;
	left:600px;
	top:40px;
	width:600px;
	margin-top:20px;

	
	
	}
#inputsearch{
	
	height:30px;
	line-height:30px;
	font-family:微软雅黑 ,Arial, Verdana, 宋体;
	font-size:13px;
	padding-left:4px;
	padding-top:4px;
	padding-bottom:4px;
	color:#959595;
	
	}
#inputsearch{
	width:310px;
	background-color:#F0F0F0;
	border:1px solid #E7E7E7;
	}	
#inputSelect{
	height:30px;
	line-height:30px;
	font-family:微软雅黑 ,Arial, Verdana, 宋体;
	font-size:13px;
	padding-left:50px;
	padding-top:4px;
	padding-bottom:4px;
	
	
	position:absolute;
	right:175px;
	width:100px;
	border-top:1px solid #E7E7E7;
	border-bottom:1px solid #E7E7E7;
	border-right:0;
	border-left:0;
	color:#788F72;
	cursor: pointer;

	background: url(../images/select3.png) no-repeat right;
	/*margin:10px 0px 0px 10px;
	padding:3px 0px 0px 2px;*/
	}

#searchButton{

	width:57px;
	height:40px;
	line-height:40px;
	left:425px;
	position:absolute;
	cursor:pointer;
	border-top:1px solid #E7E7E7;
	border-bottom:1px solid #E7E7E7;
	border-right:1px solid #E7E7E7;
	border-left:0;
	background:#FFFFFF;
	background-image:url(../images/search.png);
	background-repeat: no-repeat;
	background-position: 25px 12px;
	}

#selectValue {
	/*position:absolute;
	
	right:345px;
	top:100px;*/
	position:absolute;
	left:315px;
	z-index: 9999;
	float:right;
	margin-right:100px;
	border: 1px #999999 solid;
	width:90px;
	
}

#higtsearch{
	
	position:absolute;
	left:520px;
	color:#878787;
	font-family:微软雅黑 ,Arial, Verdana, 宋体;
	font-weight:bold;
	border:1px solid #E7E7E7;
	width:93px;
	height:39px;
	line-height:39px;
	background:#FFFFFF;
	margin-left:20px;
	cursor:pointer;
	}

.cur {
	cursor:pointer;
	display:block;
	color:#788F72;
	width:89px;
	height:25px;
	line-height:22px;
	padding:0px 0px 0px 2px;
}
<!--header end-->


<!--main bar-->

#mainbar{

	}
#liindex{
	border-left:1px solid #E6E6E6;
	}
#mainbar li{
	border-top:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
	float:left;
	width:100px;
	line-height:50px;
	list-style:none;
	}
#mainbar ul .active{
	border-bottom:3px solid #E82D00;
	}
#mainbar li a{
	 text-align:center;
	 display:block;
	color:#232323;
	text-decoration:none;
	font-size:17px;
	font-family:"微软雅黑";
	font-weight:normal;
	width:100px;
	height:50px;
	}
#mainbar li a:hover{ 
	color:red;
	}
#mainbar li:hover{
	background:#F0F0F0;
	
	}

<!--main bar end-->
