#divPhoStroyHead{
    position: relative;
    top: 0;
    left: 0;
    margin:0 auto;
    width: 1180px;
	margin-top:10px;
	
	}
#divPhoStroyHead .head{
	position: relative;
    top: 0;
    left: 0;
	font-size:12px;
	text-align:left;
    width: 1180px;
	height:60px;
	background:#ffffff;
	}
	
#divPhoStroyHead .head table{
	position: relative;
    top:20px;
    left: 0;
	border-spacing:0;
	}

#divPhoStroyHead .head table .td1{
	width:150px;
	padding-left:20px;
	}

#divPhoStroyHead .head .glz{
	margin-left:5px;
	text-decoration:underline;
	color:#adadad;
	}
#divPhoStroyHead .head .glz:hover{
	color:#000000;
	}
#divPhoStroyHead .head .sp1,
#divPhoStroyHead .head .sp2{
	margin-left:28px;
	}
#divPhoStroyHead .head .num{
	color:#e92d00;
	font-family:"黑体";
	margin-right:5px;
	}	
#divPhoStroyHead .head .inp{
	position: absolute;
    right: 38px;
    top: 20px;
	}
#divPhoStroyHead .head .inp .inputup{
	
	background:url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -1072px;
    border: 0;
    color: #000000;
    cursor: pointer;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 32px;
	margin-left:12px;
    padding-bottom: 2px;
    text-align: center;
    width: 116px;
	}
#divPhoStroyHead .head .inp .inputup:hover{
	background:url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -1104px;
	}


/*头部编辑*/









#phoStroyDetail{
	position: relative;
    top: 0;
    left: 0;
    margin:0 auto;
    width: 1180px;
	margin-top:10px;
	margin-bottom:40px;
	}

#phoStroyDetail .phoStroyDetailLeft{
	position: relative;
    top: 0;
    left: 0;
	padding-left:25px;
	padding-right:25px;
	width:750px;
	border:1px solid #e6e6e6;
	background:#ffffff;
	min-height:1000px;
	text-align:left;
	}
#phoStroyDetail .phoStroyDetailLeft .divHead{
	width:750px;
	height:60px;
	border-bottom:1px solid #c0c0c0;
	}
#phoStroyDetail .phoStroyDetailLeft .divHead .name{
    color: #000000;
	font-weight:normal;
    font-family: "微软雅黑";
    font-size:20px;
	width:750px;
	height:30px;
	overflow:hidden;
	margin-top:25px;
	display:inline-block;
	}	
#phoStroyDetail .phoStroyDetailLeft .divDescribe{
	position: relative;
    top: 0;
    left: 0;
	width:750px;
	min-height:115px;
	}


#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit{
    position: absolute;
    top: 0;
	right:0;
    display: none;
    height: 110px;
    text-align: center;
    width: 410px;
}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bj {
    background: #000000;
    height: 110px;
    left: 0;
    opacity: 0.8;
	filter:alpha(opacity=80); 
    position: absolute;
    top: 0;
    width: 410px;
}

#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc {
    height: 110px;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 410px;
}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left{
    height: 110px;
    width: 187px;
	float:left;
	border-right:1px solid #747474;
	color:8e8c8d;
	font-family:"宋体";
	}

#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left .one,
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left .two,
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left .three{
	margin-top:14px;
	}

#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left .three .sp1{
	margin-left:25px;
	margin-right:5px;
	color:#9b9b9b;
	}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left .three .sp2{
	margin-left:5px;
	margin-right:5px;
	}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left a{
	padding-left:20px;
	margin-left:25px;
	color:#9b9b9b;
	}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left .view{
	background:url(../../../../userView/public/images/11.png) 0 -2px no-repeat;
	}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left .collect{
	background:url(../../../../userView/public/images/11.png) no-repeat 0 -21px;
	}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .left .good{
	background:url(../../../../userView/public/images/11.png) no-repeat 0 -40px;
	}

#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .right{
    height: 110px;
    width: 220px;
	float:left;
	}	
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .right a{
	width:110px;
	height:110px;
	display: inline-block;
	float:left;
	}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .right a:hover{
	background:#000;
	}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .right p {
    color: #a0a0a0;
    text-align: center;
	margin-top:10px;
}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .dowload .backimg {
    background:url(../../../public/images/edit3.png) no-repeat 0 -570px ;
    height: 43px;
    margin: 0px auto;
    width: 40px;
	margin-top:20px;
}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .edit .bjc .delete .backimg {
    background:url(../../../public/images/edit3.png) no-repeat -45px 0 ;
    height: 43px;
    margin: 0px auto;
    width: 40px;
	margin-top:20px;
}
#phoStroyDetail .phoStroyDetailLeft .divDescribe .character{
	height:35px;
	line-height:40px;
	color: #000000;
	}	
#phoStroyDetail .phoStroyDetailLeft .divDescribe .dec{
	min-height:70px;
	width:750px;
    font-family: "宋体";
	}	
	
#phoStroyDetail .phoStroyDetailLeft .divContent{
	width:750px;
	padding-bottom:40px;
	color:#000000;
	}	
#phoStroyDetail .phoStroyDetailLeft  .storyzw{
	height:35px;
	line-height:40px;
	color: #000000;
	}
#phoStroyDetail .phoStroyDetailLeft .divContent .picStory{
	height:500px;
	width:750px;
	}
#phoStroyDetail .phoStroyDetailLeft .divContent .char{
	height:30px;
	line-height:30px;
	color: #8a8a8a;
	}



















































/*右边信息*/
#phoStroyDetail .phoStroyDetailRight{
	position: absolute;
    top: 0;
    right: 0;
	width:376px;
	min-height:605px;
	text-align:left;
	}
#phoStroyDetail .phoStroyDetailRight .preNext{
	width:376px;
	height:50px;
	background:#ffffff;
	}
#phoStroyDetail .phoStroyDetailRight .preNext .pre{
	width:187px;
	height:50px;
	float:left;
	border:1px solid #f0f0f0;
	}
#phoStroyDetail .phoStroyDetailRight .preNext .next{
	width:187px;
	height:50px;
	float:left;
	}
#phoStroyDetail .phoStroyDetailRight .preNext  a {
    color: #A0A0A0;
    height: 25px;
    left: 0px;
    margin-left: 55px;
    margin-top: 15px;
    position: relative;
    top: 0px;
    width: 75px;
    display: inline-block;
}
#phoStroyDetail .phoStroyDetailRight .preNext .pre a i {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
#phoStroyDetail .phoStroyDetailRight .preNext .pre a span {
    position: absolute;
    right: 0;
    top: 2px;
}
#phoStroyDetail .phoStroyDetailRight .preNext .next a i {
    height: 20px;
    right: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
#phoStroyDetail .phoStroyDetailRight .preNext .next a span {
    position: absolute;
    left: 0;
    top: 2px;
}
#phoStroyDetail .phoStroyDetailRight .preNext .pre a i {
    background: url(../../../public/images/preNext.png) no-repeat 0 0 ;
	}
#phoStroyDetail .phoStroyDetailRight .preNext .pre a:hover i {
    background: url(../../../public/images/preNext.png) no-repeat 0 -25px ;
	}
	
#phoStroyDetail .phoStroyDetailRight .preNext .next a i {
    background: url(../../../public/images/preNext.png) no-repeat -25px 0px ;
	}
#phoStroyDetail .phoStroyDetailRight .preNext .next a:hover i {
    background: url(../../../public/images/preNext.png) no-repeat -25px -25px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon{
	position: relative;
    top: 0;
    right: 0;
	margin-top:5px;
	width:376px;
	min-height:650px;
	background:#ffffff;
	border-radius:3px 3px 3px 3px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .head{
	width:376px;
	height:66px;
	border-bottom:1px solid #ececec;
	}

#phoStroyDetail .phoStroyDetailRight .storyCon .head .storyInfo table{
	font-family:"宋体 ";
	margin-top:8px;
	margin-left:14px;
	line-height:24px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .head .storyInfo table .td2{
	width:130px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .typeone{
	width:376px;
	min-height:130px;
	border-bottom:1px solid #ececec;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .typeone table{
	margin-top:14px;
	margin-left:14px;
	line-height:24px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .typeone table .td1,
#phoStroyDetail .phoStroyDetailRight .storyCon .typeone table .td3{
	width:60px;
	color:#696969;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .typeone table .td4{
	width:65px;
	font-family:"宋体";
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .typeone table .td2{
	font-family:"宋体";
	width:100px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .typeone table .td5 a{
	color:#32a3db;
	font-family:"宋体 ";
	text-decoration:underline;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .typeone table .tds{
	font-family:"宋体";
	width:320px;
	}	
#phoStroyDetail .phoStroyDetailRight .storyCon .gjctd{
	width:340px;
	padding-left:15px;
	padding-right:20px;
	min-height:140px;
	border-bottom:1px solid #ececec;
	padding-bottom:20px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon  .gjctd .chaa{
	height:40px;
	line-height:40px;
	}	

	
#phoStroyDetail .phoStroyDetailRight .storyCon .gjctd .type .retag{
    background: url(../../../public/images/background.png) no-repeat 0 0;
    color: #AE9E7C;
    float: left;
    height: 16px;
    left: 0;
    margin-left: 18px;
    margin-top: 10px;
    padding-left: 12px;
    padding-right: 11px;
    position: relative;
    top: 0;
}
#phoStroyDetail .phoStroyDetailRight .storyCon .gjctd .type .retag a {
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: -10px;
    top: 0;
    width: 16px;
	background: url(../../../public/images/background.png) no-repeat -14px -89px;
}
#phoStroyDetail .phoStroyDetailRight .storyCon .gjctd .type .retag a:hover {
    background: url(../../../public/images/background.png) no-repeat -35px -89px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon  .gjctd .keyword a{
	color:#0083c6;
	font-family:"宋体";
	margin-right:10px;
	line-height:20px;
	}


#phoStroyDetail .phoStroyDetailRight .storyCon .property{
	width:376px;
	min-height:150px;
	border-bottom:1px solid #ececec;
	}	

#phoStroyDetail .phoStroyDetailRight .storyCon .property table{
	margin-top:14px;
	margin-left:14px;
	line-height:24px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .property table .td1,
#phoStroyDetail .phoStroyDetailRight .storyCon .property table .td3{
	width:70px;
	}	
#phoStroyDetail .phoStroyDetailRight .storyCon .property table .td2,
#phoStroyDetail .phoStroyDetailRight .storyCon .property table .td4{
	font-family:"宋体";
	width:70px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .property table .tda a{
	color: #32A3DB;
    font-family: "宋体 ";
    text-decoration: underline;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon .property table .tdp{
	font-family:"宋体";
	}	
#phoStroyDetail .phoStroyDetailRight .storyCon  .edt{
	padding-top:26px;
	padding-bottom:20px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon  .edt .inputyq{
	background:url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -1072px;
    border: 0;
    color: #000000;
    cursor: pointer;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 32px;
	margin-left:37px;
    padding-bottom: 2px;
    text-align: center;
    width: 116px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon  .edt .inputyq:hover{
	background:url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -1104px;
	}
#phoStroyDetail .phoStroyDetailRight .storyCon  .edt .inputyq:active{
	background:url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -1136px;
	}
/*右边信息*/



/*专辑移动到*/
#moveTozj{
	display:none;
	width:480px;
    background:#ffffff;
	text-align:left;
	}

#moveTozj .top{
    background:#F6F6F6;
    border-bottom: 1px solid #E3E3E3;
    height: 57px;
    left: 0;
    position: relative;
    top: 0;
    width: 480px;
}
#moveTozj .top h2 {
    color: #585858;
    font-family: "微软雅黑";
    font-size: 22px;
    font-weight: normal;
    height: 58px;
    line-height: 58px;
    padding-left: 30px;
	text-align:left;
	}

#moveTozj .top a {
    background:url(../../../../userView/public/images/closeBox.png) 0 0 no-repeat;
    height: 58px;
    position: absolute;
    right: 0;
    top: 0;
    width: 58px;
	}
#moveTozj .top a:hover{
	background:url(../../../../userView/public/images/closeBox.png) no-repeat 0 -58px;
	}
#moveTozj .top a:active{
	background:url(../../../../userView/public/images/closeBox.png) no-repeat 0 -116px;
	}
#moveTozj .zhuanji{
    min-height: 285px;
    left: 0;
    position: relative;
    top: 0;
    width: 410px;
	padding-left:35px;
	padding-right:35px;
}
#moveTozj .zhuanji li {
    border-bottom: 1px solid #F0F0F0;
    height: 42px;
    left: 0;
    position: relative;
    top: 0;
    width: 415px;
}
#moveTozj .zhuanji li:hover,
#moveTozj .zhuanji .active {
	background:#fafafa;
	}
#moveTozj .zhuanji .special{
	position: relative;
    top: 0;
    left: 0;
	height:42px;
    width: 415px;
	}
#moveTozj .zhuanji .special .tone{
	position: absolute;
    bottom: 8px;
    left: 8px;
	width:15px;
	height:15px;
	}
	
#moveTozj .zhuanji .special .tone1{
	background:#F93;
	}
#moveTozj .zhuanji .special .tone2{
	background:#09F;
	}
#moveTozj .zhuanji .special .tone3{
	background:#6C6;
	}
#moveTozj .zhuanji .special .tone4{
	background:#090;
	}
#moveTozj .zhuanji .special .tone5{
	background:#FF6;
	}
#moveTozj .zhuanji .special .tone6{
	background:#000;
	}
#moveTozj .zhuanji .special .tone7{
	background:#0FF;
	}
#moveTozj .zhuanji .special .tone8{
	background:#033;
	}
#moveTozj .zhuanji .special .tone9{
	background:#03F;
	}
#moveTozj .zhuanji .special .tone10{
	background:#CF0;
	}
#moveTozj .zhuanji .special .name{
	position: absolute;
    bottom: 8px;
    left: 35px;
	width:360px;
	height:15px;
	font-family:"微软雅黑";
	color:#494949;
	}
#moveTozj .zhuanji .special .click{
	position: absolute;
    top: 5px;
    right: 0px;
	width:32px;
	height:32px;
	background:url(../../../public/images/checked2.png) 0 0 no-repeat;
	}
#moveTozj .zhuanji .divAddSpecial{
	margin-top:26px;
	margin-left:5px;
	margin-bottom:20px;
	}
#moveTozj .zhuanji .divAddSpecial a{
	
	font-family:"微软雅黑";
	color:#0267b7;
	}
	
	
	
	
	

#moveTozj .tijaio{
    width: 480px;
	height: 100px;
	text-align:center;
	}
#moveTozj .tijaio .reset {
    background: url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -836px;
    border: 0 none;
    color: #242424;
    cursor: pointer;
    font-family: "微软雅黑";
    font-size: 17px;
    height: 36px;
    padding-bottom: 2px;
    padding-left: 0;
    width: 143px;
	letter-spacing: 15px;
    padding-left: 20px;
	}	
#moveTozj .tijaio .reset:hover{
	background: url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -872px;
	}
#moveTozj .tijaio .reset:active{
	background: url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -908px;
	}
#moveTozj .tijaio .sub {
    background: url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -718px;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "微软雅黑";
    font-size: 17px;
    height: 36px;
    margin-left: 20px;
    padding-bottom: 2px;
    padding-left: 0;
    width: 143px;
	letter-spacing: 15px;
    padding-left: 20px;
	}
#moveTozj .tijaio .sub:hover{
	background: url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -754px;
	}
#moveTozj .tijaio .sub:active{
	background: url(../../../../userView/public/images/buttonGroup01.png) no-repeat 0 -790px;
	color: #D6D6D6;
	text-shadow: 1px 1px 1px black;
	}
/*专辑移动到*/
