.container_body .div_job{
	padding:10px 20px;
    position: relative;
    top: 0;
    left: 0;
	height:30px;
	width:1140px;
	margin:10px auto 10px;
	background:#fff;
	font-family:"微软雅黑";
	}
.container_body .div_job .div_left{
	float:left;
	height:30px;
	width:480px;
	color:#000;
	text-align:left;
	font-size:18px;
	}

.container_body .div_job .div_search{
	float:left;
	height:30px;
	width:280px;
	position:relative;
	top:0;
	left:0;
	}


.container_body .div_job .div_search .text {
    border: 1px solid #CCCCCC;
    color: #7f7f7f;
	background:#efedee;
    font-family: "微软雅黑","宋体" ;
    font-size: 14px;
    height: 12px;
    padding: 5px 33px 5px 15px;
    width: 200px;
	border-radius:12px;
	position: absolute;
    top: 5px;
	right:0px;
	}

.container_body .div_job .div_search .i_name {
    height: 20px;
	position: absolute;
    top: 10px;
	cursor:pointer;
	right:10px;
    width: 20px;
	background:url(../../../public/images/search.png) no-repeat 0px -13px;
	}

.container_body .div_job .div_search .i_name:hover {
	background:url(../../../public/images/search.png) no-repeat 0px -54px;
	}



.container_body .div_job .all_job{
	position:relative;
	top:0px;
	left:0px;
	float:left;
	height:30px;
	width:380px;
	}
.container_body .div_job .all_job .bar{
	float:left;
	position: relative;
    left: 0;
    top: 0;
	margin-left:15px;
	margin-top:10px;
	height:18px;
	padding-left:10px;
	color:#4a4a4a;
	font-size: 12px;
	cursor:pointer;
	}
.container_body .div_job .all_job .bar:hover,
.container_body .div_job .all_job .active{
	background:url(../../../back/pubimg/images/background.png) 0 -67px no-repeat;
	color:#ffffff;
	}
.container_body .div_job .all_job .bar i{
	position: absolute;
    right: -16px;
    top: 0;
	width:16px;
	height:18px;
	cursor:pointer;
	
	}
.container_body .div_job .all_job .bar:hover i,
.container_body .div_job .all_job .active i{
	background: url(../../../back/pubimg/images/background.png) no-repeat 0px -156px;
	}






.container_body .div_container{
    position: relative;
    top: 0;
    left: 0;
	min-height:560px;
	width:1180px;
	margin:0 auto 40px;
	color:#727272;
	}
.container_body .div_container table{
	text-align:left;
	}
.container_body .div_container table td{
	padding:20px 20px;
	border:1px solid #e7e7e5;
	}
.container_body .div_container table .td_one{
    position: relative;
    top: 0;
    left: 0;
	width: 230px;
	height: 50px;
	}

/*第一列*/
.container_body .div_container table .td_one .headImg{
	width: 60px;
	height: 50px;
	float:left;
	}
.container_body .div_container table .td_one  .headImg .headimg{
	width: 50px;
	height: 50px;
	}
	
.container_body .div_container table .td_one  .info{
	width: 170px;
	height: 54px;
	float:left;
	}
.container_body .div_container table .td_one  .info .name{
	left: 0;
    position: relative;
    top: 0;
	height: 30px;
	width: 170px;
	line-height: 30px;
	color:#000;
	font-family:"微软雅黑";
	font-size:14px;
	}
.container_body .div_container table .td_one  .info .name .namechar{
	white-space: nowrap;      
	text-overflow: ellipsis;        /* for IE */
	-o-text-overflow:  ellipsis ;      /* for Opera */
	overflow: hidden;
	max-width:100px;
	height:25px;
	display:inline-block;
	}
.container_body .div_container table .td_one  .info .name .approveNo{
	width:25px;
	height:20px;
	display:inline-block;
	margin-left: 0;
    margin-right: 5px;
	background:url(../../../public/images/identity.png) 0 5px no-repeat;
	}
.container_body .div_container table .td_one  .info .name .approveHave{
	width:25px;
	height:20px;
	display:inline-block;
	margin-left: 0;
    margin-right: 5px;
	background:url(../../../public/images/identity.png) 0 -20px no-repeat;
	}
.container_body .div_container table .td_one  .info .name .approveQy{
	width:25px;
	height:20px;
	display:inline-block;
	margin-left: 0;
    margin-right: 5px;
	background:url(../../../public/images/identity.png) 0 -42px no-repeat;
	}
	
	
.container_body .div_container table .td_one  .info .detail{
    
	
	}

/*第一列*/



.container_body .div_container table .td_div_one{
	height:30px;
	line-height:30px;
	}

/*第2列*/
.container_body .div_container table .td_laterOne{
    position: relative;
    top: 0;
    left: 0;
	width: 167px;
	height: 50px;
	text-align:left;
	}	
.container_body .div_container table .td_laterOne .td_div_two .userPositionName{
    background:url(../../../public/images/11.png) no-repeat 0 -95px;
    padding-left: 20px;
	padding-top:2px;
	padding-bottom:2px;
	}
.container_body .div_container table .td_laterOne .td_div_two .userPositionNameG{
    background:url(../../../public/images/11.png) no-repeat 0 -208px;
    padding-left: 20px;
	padding-top:2px;
	padding-bottom:2px;
	}
.container_body .div_container table .td_laterOne .td_div_two .userPositionAddress{
    background:url(../../../public/images/11.png) no-repeat 0 -114px;
	margin-left: 10px;
    padding-left: 18px;
	padding-top:2px;
	padding-bottom:2px;
	}	
.container_body .div_container table .td_laterOne .td_div_two .userPositionAddress .shi{
	margin-left:8px;
	}

/*第2列*/







/*第3列*/
.container_body .div_container table .td_laterTwo{
    position: relative;
    top: 0;
    left: 0;
	width: 164px;
	height: 50px;
	}
/*第3列*/

/*第4列*/

.container_body .div_container table .td_laterThree{
    position: relative;
    top: 0;
    left: 0;
	width: 160px;
	height: 50px;
	}
.container_body .div_container table .td_laterThree .td_div_two{
    position: relative;
    top: 0;
    left: 0;
	width:120px;
	}
.container_body .div_container table .td_laterThree .pstype{
    left: 40px;
    position: absolute;
    top: 0;
	}
.container_body .div_container table .td_laterThree .pstype .bar {
    color: #b09d7c;
    float: left;
    font-size: 12px;
    height: 18px;
    left: 0;
    margin-right: 15px;
    padding-left: 10px;
    position: relative;
    top: 0;
	background:url(../../../back/pubimg/images/background.png) 0 0px no-repeat;
	}
.container_body .div_container table .td_laterThree .pstype .bar i {
    position: absolute;
    right: -11px;
    top: 0;
	width:12px;
	height:18px;
	background: url(../../../back/pubimg/images/background.png) no-repeat 0px -89px;
	}

/*第4列*/

/*第5列*/
.container_body .div_container table .td_laterFour{
    position: relative;
    top: 0;
    left: 0;
	width: 133px;
	height: 50px;
	}
/*第5列*/
/*第6列*/
.container_body .div_container table .td_laterView{
    position: relative;
    top: 0;
    left: 0;
	width: 78px;
	height: 50px;
	text-align:center;
	cursor:pointer;
	color:#000;
	font-family:"微软雅黑";
	font-size:16px;
	}
/*第6列*/




.ppointPagingN {
    border: 1px solid #F2F2F2;
	}