#divContent .sort{
	padding:10px 20px;
    position: relative;
    top: 0;
    left: 0;
	z-index:100;
	height:30px;
	background:#fff;
	}
#divContent .sort table .td1{
	color: #000000;
    font-family: "微软雅黑";
    font-size: 16px;
    padding-right: 10px;
    text-align: right;
    width: 145px;
	}
#divContent .sort table .td2{
	padding-right:20px;
	
	}
	
	
	








#phoStroyContent{
	position: relative;
    top: 0;
    left: 0;
	font-size:12px;
	color:#848484;
	font-family:"宋体";
	text-align:left;
    width: 1180px;
	/*overflow:hidden;*/
	margin:0 auto;
	}

#phoStroyContent .phoStroyContentUl {
    position:relative;
	top:0;
	left:0;
	margin-left:-13px;
	*margin-left:0px;
	}
#phoStroyContent  a{
	_cursor:pointer;
	}
#phoStroyContent  li{
	position:relative;
	top:0;
	left:0;
	margin-left:13px;
	#margin-left:10px;
	_margin-left:5px;
	width:285px;
	height:340px;
	margin-top:10px;
	float:left;
	background:#FFFFFF;
	}

/*默认显示		封面*/
#phoStroyContent .photographyStoryLiHead img{
	width:285px;
	height:175px;
	}
#phoStroyContent .photographyStoryLiCon{
	position:relative;
	top:0;
	left:0;
	width:285px;
	height:110px;
	border-bottom:1px solid #d0d0d0;
	}
#phoStroyContent .photographyStoryLiConTitle{
	width:285px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	overflow:hidden;
	}
#phoStroyContent .photographyStoryLiConTitle span{
	font-size:16px;
	font-family:"微软雅黑";
	color:#000000;
	}
#phoStroyContent .photographyStoryLiConInfo{
	width:275px;
	height:45px;
	margin-top:5px;
	padding-left:10px;
	overflow:hidden;
	color:#aeaeae;
	line-height:23px;
	}
#phoStroyContent .photographyStoryLiConShare{
	width:275px;
	height:20px;
	margin-top:6px;
	margin-left:10px;
	}
#phoStroyContent .photographyStoryLiConShare a{
	padding-left:20px;
	margin-right:5px;
	color:#9b9b9b;
	_margin-top:5px;
	}
#phoStroyContent .photographyStoryLiConShare .photographyStoryLiConShareOne{
	background:url(../../../public/images/11.png) no-repeat 0 -2px;
	}
#phoStroyContent .photographyStoryLiConShare .photographyStoryLiConShareTwo{
	background:url(../../../public/images/11.png) no-repeat 0 -21px;
	}
#phoStroyContent .photographyStoryLiConShare .photographyStoryLiConShareThree{
	background:url(../../../public/images/11.png) no-repeat 0 -40px;
	}
#phoStroyContent .photographyStoryLiConShare font{
	position:absolute;
	bottom:7px;
	right:5px;
	}
/*图片内容*/

	
	
	
	
	
	
	
#phoStroyContent .photographyStoryInfo{
	position:relative;
	top:0;
	left:0;
	width: 285px;
	height: 54px;
	}	
	
#phoStroyContent .photographyStoryInfo  .headImg{
	width: 60px;
	height: 54px;
    left: 0;
    position: absolute;
    top: 0;
	}
#phoStroyContent .photographyStoryInfo .headImg .headImgCon{
	width: 40px;
	height: 40px;
    left: 9px;
    position: absolute;
    top: 7px;
	}
#phoStroyContent .photographyStoryInfo  .headImg .head{
	width: 40px;
	height: 40px;
	left: 0;
    position: absolute;
    top: 0;
	}
#phoStroyContent .photographyStoryInfo  .headImg .radius{
	width: 40px;
	height: 40px;
	left: 0;
    position: absolute;
    top: 0;
	}	
#phoStroyContent .photographyStoryInfo  .info{
	width: 225px;
	height: 54px;
    left: 60px;
    position: absolute;
    top: 0;
	}
#phoStroyContent .photographyStoryInfo  .info .name{
	height: 30px;
	line-height: 30px;
	color:#000;
	font-family:"微软雅黑";
	font-size:14px;
	}
#phoStroyContent .photographyStoryInfo  .info .detail{
    left: 0;
    position: relative;
    top: 0;
	}
#phoStroyContent .photographyStoryInfo  .info .detail a {
    color: #A0A0A0;
	text-decoration:none;
	}
#phoStroyContent .photographyStoryInfo  .info .detail .userPositionName{
    background:url(../../../public/images/11.png) no-repeat 0 -95px;
    padding-left: 20px;
	padding-top:2px;
	padding-bottom:2px;
	}
#phoStroyContent .photographyStoryInfo  .info .detail .userPositionNameMan{
    background:url(../../../public/images/11.png) no-repeat 0 -208px;
    padding-left: 20px;
	padding-top:2px;
	padding-bottom:2px;
	}
#phoStroyContent .photographyStoryInfo  .info .detail .userPositionAddress{
    background:url(../../../public/images/11.png) no-repeat 0 -114px;
	margin-left: 10px;
    padding-left: 18px;
	padding-top:2px;
	padding-bottom:2px;
	}
#phoStroyContent .photographyStoryInfo  .info .detail .userPositionAddress .shi{
	margin-left:8px;
	}	
#phoStroyContent .photographyStoryInfo  .info .detail .pstype{
    right: 13px;
    position: absolute;
    top: 0;
	}
#phoStroyContent .photographyStoryInfo  .info .detail .pstype .bar {
    color: #b09d7c;
    float: left;
    font-size: 12px;
    height: 18px;
    left: 0;
    margin-right: 15px;
    padding-left: 10px;
    position: relative;
    top: 0;
	background:url(../../../back/pubimg/images/background.png) 0 0px no-repeat;
	}
#phoStroyContent .photographyStoryInfo  .info .detail .pstype .bar i {
    position: absolute;
    right: -11px;
    top: 0;
	width:12px;
	height:18px;
	background: url(../../../back/pubimg/images/background.png) no-repeat 0px -89px;
	}
/*默认显示		封面*/



/*默认显示		图片*/
#phoStroyContent  li .phoStroyContentLi .photographyStoryPic{
	position: relative;
    top: 0;
	left:0;
	}
#phoStroyContent  li .phoStroyContentLi .photographyStoryPic img{
	width:285px;
	height:285px;
	}
#phoStroyContent  li .phoStroyContentLi .photographyStoryKeyWork{
	position: relative;
    top: 0;
	left:0;
	width:285px;
	height:45px;
	background:#b25a59;
	color:#fff;
	padding-top:10px;
	}
#phoStroyContent  li .phoStroyContentLi  .photographyStoryKeyWorkNo{
	position: relative;
    top: 0;
	left:0;
	width:270px;
	height:40px;
	background:#d2d2d2;
	color:#6c6c6c;
	padding-top:15px;
	padding-left:15px;
	}
#phoStroyContent  li .phoStroyContentLi .photographyStoryKeyWork dd{
	float:left;
	padding:3px 8px;
	
	}	




/*默认显示		图片*/





/*背景内容*/	

#phoStroyContent .phoStroyContentUl .active  .nowtop{
	display:block;
	}
	
#phoStroyContent  li .phoStroyContentLi .nowtop{
	display:none;
	position: absolute;
    top: 0;
	left:0;
	height: 285px;
    width: 285px;
	text-align:center;
	}
	
	
		
#phoStroyContent  li .phoStroyContentLi .nowtop .bj{
	position: absolute;
    top: 0;
	left:0;
	height: 285px;
    width: 285px;
	background:#000000;
	filter:alpha(opacity=80);    /* IE 4-7 */     
	opacity: 0.8;              /* Firefox, Safari(WebKit), Opera */
	}	
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc{
	position: absolute;
    top: 0;
	left:0;
	height: 285px;
    width: 285px;
	text-align:left;
	color:#aeacad;
	}
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .picInf{
	position: relative;
    top: 0;
	left:0;
	height:75px;
	width:285px;
	border-bottom:1px solid #7f7f7f;
	}
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .picInf .ifone{
	position: relative;
    top:15px;
	left:0;
	height:30px;
	line-height:30px;
	padding-left:20px;
	}
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .picInf .ifone .picnum,
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .picInf .ifone .numw{
	margin-right:5px;
	padding-left:5px;
	}
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .picInf .ifone .sp2{
	padding-left:25px;
	}
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .picInf .iftwo{
	position: relative;
    top:15px;
	left:0;
	padding-left:20px;
	}
	
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .divTime{
	position: relative;
    top: 0;
	left:0;
	height:28px;
	width:285px;
	padding-top:10px;
	}

#phoStroyContent  li .phoStroyContentLi .nowtop .bjc  .time{
	padding-left:24px;
	padding-top:5px;
	padding-bottom:5px;
	background:url(../../../public/images/topBarIcon.png) 0 -147px no-repeat;
	margin-left:20px;
	
	}
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc  .time2{
	padding-left:24px;
	padding-top:5px;
	padding-bottom:5px;
	background:url(../../../public/images/topBarIcon.png) 0 -97px no-repeat;
	margin-left:40px;
	}

	
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .divNoPassRea{
	position: relative;
    top: 0;
	left:0;
	height:120px;
	width:245px;
	padding:5px 20px;
	line-height:23px;
	}
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .divNoPassRea .rea{
	height:25px;
	width:245px;
	overflow:hidden;
	}
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .divDel{
	height:45px;
	width:285px;
	text-align:left;
	position:relative;
	top:0;
	left:0;
	}	
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .divDel .directDel{
	position:absolute;
	top:10px;
	right:90px;
	text-decoration:underline;
	color:#4b93c5;
	}

#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .divDel .directHF{
	position:absolute;
	top:10px;
	right:20px;
	text-decoration:underline;
	color:#4b93c5;
	}
	
	
#phoStroyContent  li .phoStroyContentLi .nowtop .bjc .divDel .view{
	position:absolute;
	top:0;
	right:20px;
	width:42px;
	height:42px;
	margin-left:20px;
	cursor:pointer;
	background:url(../../../public/images/edit3.png) 0 -44px no-repeat;
	}
/*背景内容*/


	

/*图片内容*/


#phoStroyContent .photographyStoryLiHead{
	position:relative;
	top:0;
	left:0;
	width:285px;
	height:175px;
	}
.ppointPagingN {
    border: 1px solid #F2F2F2;
	}
	
	



/*不通过原因*/
#noPassReason{
	display:none;
	position:relative;
	top:0;
	left:0;
	width: 374px;
	height: 330px;
	color:#5d5d5d;
	background:#fff;
	text-align:left;
	}
#noPassReason table .td1{
	width:60px;
	height:35px;
	padding-right:10px;
	text-align:right;
	}

#noPassReason table .other .otherCon{
	position:relative;
	top:0;
	left:0;
    height: 73px;
	width:256px;
	display:inline-block;
	padding-top:10px;
	}
#noPassReason table .other .otherCon label{
	position:absolute;
	top:0;
	left:0;
	}
#noPassReason table textarea{
	position:absolute;
	top:0;
	left:30px;
	width:190px;
    border: 1px solid #E9E8E6;
    height: 60px;
    line-height: 16px;
    overflow: auto;
    padding: 5px;
    resize: none;
	font-size:12px;
	background:#fcfcfc;
	}
#noPassReason .top{
	width: 344px;
	height: 20px;
	padding:12px 15px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000000;
	border-bottom:1px solid #ECECEC;
	}
#noPassReason .opeation{
	width: 274px;
	height: 40px;
	padding:25px 40px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000000;
	}
#noPassReason .opeation .pass {
    background:url(../../../public/images/buttonGroup01.png) no-repeat 0 -1072px;
    border: 0 none;
    color: #000000;
    cursor: pointer;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 32px;
    padding-bottom: 2px;
    text-align: center;
    width: 116px;
	}

#noPassReason .opeation .pass:hover{
	background:url(../../../public/images/buttonGroup01.png) no-repeat 0 -1104px;
	}
#noPassReason .opeation .pass:active{
	background:url(../../../public/images/buttonGroup01.png) no-repeat 0 -1136px;
	}
#noPassReason .opeation .noPass {
    background:url(../../../public/images/buttonGroup01.png) no-repeat 0 -1168px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 32px;
	margin-left:28px;
    padding-bottom: 2px;
    text-align: center;
    width: 116px;
	}

#noPassReason .opeation .noPass:hover{
	background:url(../../../public/images/buttonGroup01.png) no-repeat 0 -1200px;
	}
#noPassReason .opeation .noPass:active{
	background:url(../../../public/images/buttonGroup01.png) no-repeat 0 -1136px;
	color: #000000;
	}
/*不通过原因*/

.viewBjCon{
	cursor:pointer;
	}