.container_body{
	width:870px;
	height:530px;
	border-radius:5px;
	background:#fff;
	margin:10px auto 40px;
	text-align:center;
	font-family:"宋体";
	}


.container_body .info_top{
	line-height:90px;
	font-family:"微软雅黑";
	color:#000;
	font-size:26px;
	height:78px;
	width:790px;
	margin:0px auto;
	border-bottom:1px solid #e8e8e8;
	}
.container_body .info_detail{
	width:790px;
	height:400px;
	margin:0px auto 10px;
	border-bottom:1px solid #e8e8e8;
	}



.container_body .info_detail .info_password{
	position:relative;
	top:0;
	left:210px;
	width:500px;
	height:260px;
	margin-top:40px;
	}
.container_body .info_detail .info_password table{
	text-align:left;
	}	

.container_body .info_detail .info_password table .tr_one{
	height:55px;
	}	
.container_body .info_detail .info_password table .tr_four{
	height:80px;
	vertical-align:bottom;
	}
.container_body .info_detail .info_password table .tr_five{
	height:30px;
	vertical-align:bottom;
	}
.container_body .info_detail .info_password table .tr_five a {
    color: #0168B5;
    text-decoration: underline;
	margin-left:60px;
	}
.container_body .info_detail .info_password table .tr_remind{
	height:20px;
	}
.container_body .info_detail .info_password table .tr_remind label{
    color: #FF0000;
    padding-left: 5px;
}
	
	
.container_body .info_detail .info_password .td_one{
    font-family: "微软雅黑";
	color:#7d7d7d;
	font-size: 16px;
	padding-right:10px;
	width:100px;
	text-align:right;
	}

.container_body .info_detail .info_password .all_password{
	background:#fcfcfc;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #000000;
    font-family: "微软雅黑","宋体";
    font-size: 16px;
    height: 20px;
    padding: 6px 15px 6px 15px;
    width: 130px;
	margin-right:20px;
	}
	


.container_body .info_detail .info_password .change_submit{
	cursor:pointer;
	width: 142px;
	height:36px;
	color:#FFFFFF;
	border:0px;	
	font-family:"微软雅黑";
	font-size:18px;
	margin-left: 10px;
	background:url(../../../../public/images/buttonGroup01.png)  no-repeat 0 -718px;
	}
.container_body .info_detail .info_password .change_submit:hover{
	background:url(../../../../public/images/buttonGroup01.png) no-repeat 0 -754px;
	}
.container_body .info_detail .info_password .change_submit:active{
	background:url(../../../../public/images/buttonGroup01.png) no-repeat 0 -792px;
	color:#d6d6d6;
	text-shadow: 1px 1px  1px #000;
	padding-bottom:5px;
	}
	


.password_red{
	width:37px;
	height:8px;
	background:#eb8787;
	margin-right:-4px;
	display:inline-block;
	}
.password_gry{
	width:37px;
	height:8px;
	background:#dbdbdb;
	margin-right:-4px;
	display:inline-block;
	}