*{margin:0;padding:0;}

body{
	margin:0;
	padding:0;
	text-align:center;
	color:#848484;
  	font-family:微软雅黑 ,Arial, Verdana, 宋体;
  	font-size:12px;
	}
/*------------------------------------------------------------*/

/*公共元素控制*/
img{
	border:0;
	}
ul{
	list-style:none;
	}
a{
  /*color:#A5A5A5;*/
  text-decoration:none;
}

/*公共元素控制*/
/*------------------------------------------------------------*/



/*网页整体布局*/


/*topbarRegisterLogin.css */

/*header.css */



#container{
	position:relative;
	top:0;
	left:0;
	width:100%;
	margin:0 auto;
	background:#FFFFFF;
	}
#divRegister{
	border:1px solid #eaeaea;
	width:942px;
	height:680px;
	margin:23px auto;
	background:#F9F9F9;
	}
/*网页整体布局*/	
/*------------------------------------------------------------*/




/* 注册内容开始 */
#divRegisterTitle{
	position:relative;
	top:0;
	left:0;
	margin:0 auto;
	width:880px;
	height:92px;
	border-bottom:1px solid #eaeaea;
	}
#divRegisterTitle span{
	font-size:26px;
	font-weight:normal;
	font-family:"微软雅黑";
	color:#3c3c3c;
	position:absolute;
	top:40px;
	left:400px;
	}
#divRegisterTitle a{
	font-size:12px;
	position:absolute;
	top:72px;
	/*z-index:1;*/
	left:770px;
	
	}
#divRegister a{
	color:#0099f3;
	text-decoration:underline;
	}
#divRegister a:hover{
	text-decoration:none;
	}


/*divRegisterUsername 内容开始*/

#tableRegister{
	margin:0 auto;
	width:800px;
	*width:800px;
	margin-top:40px;
	}


/*table第一列*/
#tableRegister .label {							
    color: #7c7c7c;
    font-size: 16px;
    padding-right: 15px;
    text-align: right;
    width: 300px;
	*width:300px;
	height:40px;
	line-height:40px;
}
/*table第二列*/
#tableRegister .regName{
	width: 250px;
	*width:250px;
	height:42px;
	}
#tableRegister .instruction{
	color:#d1d1d1;
	text-align:left;
	vertical-align:top;
	width: 250px;
	*width: 250px;
	height:30px;
	}
#instruction{
	text-align:left;
	vertical-align:center;
	}
/*table第三列*/
#tableRegister .remind{
	height:42px;
	*width: 250px;
	line-height:42px;
	}

#tableRegister .label b {
    font-family: "????";
    font-weight: normal;
    margin-right: 5px;
	color: #FF0000;
}


#tableRegister .divRegName{
	position:relative;
	top:0;
	left:0;
	}	

#tableRegister .divRegName .text {
    border: 1px solid #CCCCCC;
    color: #7f7f7f;
	background:#efedee;
    font-family: "微软雅黑","宋体" ;
    font-size: 14px;
    height: 20px;
    padding: 10px 33px 10px 15px;
    width: 200px;
	border-radius:3px 3px 3px 3px;
}

#tableRegister  .regName .i-name {
    
    height: 20px;
	position: absolute;
    top: 12px;
	right:10px;
    width: 20px;
}
#i-name{
	background: url("../images/register.png") no-repeat scroll 0 0 transparent;
	}
#i-email{
	background: url("../images/register.png") no-repeat scroll 0 -30px; transparent;
	}
#i-password{
	background: url("../images/register.png") no-repeat scroll 0 -57px; transparent;
	}
#i-passwordAffirm{
	background: url("../images/register.png") no-repeat scroll 0 -57px; transparent;
	}
#tableRegister .divRemind{
	position:relative;
	top:0;
	left:0;
	}
#tableRegister  .remind .bremind{
	display:none;
	position: absolute;
    top: -8px;
	left:8px;
	background: url("../images/register.png") no-repeat scroll 0 -83px transparent;
	width: 120px;
	height: 20px;
	}
#bremind{
	padding-left:25px;
	height: 20px;
	line-height:18px;
	}	
#tableRegister  .divRemind .divremind{
	display:none;
	text-align:left;
	padding-left:5px;
	padding-right:15px;
	background:#FFEBEB;
	color:#FF0000;
	}
#divRegisterSubmit{
	position:relative;
	top:0;
	left:0;
	margin:0 auto;
	width:880px;
	height:92px;
	border-top:1px solid #eaeaea;
	}
#divRegisterSubmitA{
	position:absolute;
	top:37px;
	left:390px;
	width: 163px;	
	}
#divRegisterSubmitA input{
	cursor:pointer;
	width: 144px;
	height:36px;
	color:#FFFFFF;
	border:0px;	
	border-radius: 4px 4px 4px 4px;
	font-family:"微软雅黑";
	font-size:18px;
	/*background:#c95152;*/
	padding-bottom:2px;
	/*
	*/
	}
#createAccount{
	background: #CCCCCC;
	}
#divRegisterSubmit  .classCreateAccount{
	
	background:url(../../public/images/buttonGroup01.png) no-repeat 0 -718px;
	}
#divRegisterSubmit .classCreateAccount:hover{
	background:url(../../public/images/buttonGroup01.png) no-repeat 0 -754px;
	}
#divRegisterSubmit .classCreateAccount:active{
	background:url(../../public/images/buttonGroup01.png) no-repeat 0 -792px;
	color:#d6d6d6;
	text-shadow: 1px 1px  1px #000;
	}


/*divRegisterUsername 内容结束*/
/*#tiaokuang{
	width: 750px; 
	height:800px;
	/*overflow:auto;
	overflow-x:hidden;
	background: #F2F2F3;
	position: absolute; 
	z-index: 1200; 
	top:50%; 
	left: 50%;
	margin-left:-385px;
	margin-top:-400px;
	display: none; 
	padding: 0px
	  }*/
#demo{
		width:700px;
		height:560px;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
	
		
	}
#buttontrue{border:0;
	 width:102px;  cursor: pointer;height:36px; background:url(../../public/images/buttonGroup01.png) no-repeat 0 -364px; ;
	}
#buttontrue:hover{
	 background:url(../../public/images/buttonGroup01.png) no-repeat 0 -400px;
	}
#buttontrue:active{
	background:url(../../public/images/buttonGroup01.png) no-repeat 0 -436px;
	color:#d6d6d6;
	text-shadow: 1px 1px  1px #000;
	}
/* 注册内容结束 */

#quickLogin{
	margin:0 auto;
	}
#quickLogin .qq{
	cursor:pointer;
	position:relative;
	left:0;
	top:0;
	float:left;
	margin-top:25px;
	margin-left:390px;
	width:110px;
	height:30px;
	line-height:30px;
	border:1px solid #e8e8e6;
	background:#fcfcfc;
	}
#quickLogin .qq:hover{
	background:#FFFDF1;
	}
#quickLogin .qq i{
	position:absolute;
	top:0px;
	left:5px;
	width:26px;
	height:26px;
	background:url(../images/quickLogin.png) no-repeat 0 0;
	}
#quickLogin .qq span{
	margin-left:25px;
	}
#quickLogin .sina{
	cursor:pointer;
	position:relative;
	left:0;
	top:0;
	float:left;
	margin-top:25px;
	margin-left:5px;
	width:120px;
	height:30px;
	line-height:30px;
	border:1px solid #e8e8e6;
	background:#fcfcfc;
	}
#quickLogin .sina:hover{
	background:#FFFDF1;
	}
#quickLogin .sina i{
	position:absolute;
	top:0px;
	left:5px;
	width:26px;
	height:26px;
	background:url(../images/quickLogin.png) no-repeat 0 -28px;
	}
#quickLogin .sina span{
	margin-left:25px;
	}